<div class="row-fluid" id="projectsView" ng-controller="projectsController">
    <h3 class="text-center" data-translate="PROJECTS_TITLE"></h3>
    <hr class="blurred"/>
    <br/>
    <div id="projectsMenu">
        <a class="col-xs-6 col-sm-4 col-md-2" ng-repeat="pType in projectsTypes" ng-click="selectProjectType(pType)" data-translate="PROJECT_TYPE_{{pType.name}}" ng-cloak></a>
    </div>
    <div class="visible-xs visible-sm">
        <br class="breakLine"/>
        <br class="breakLine"/>
        <br class="breakLine"/>
    </div>
    <br/>
    <hr class="blurred"/>
    <br/>
    <div id="projectsTilesContainer">
        <div class="image-block col-sm-6 col-md-4 col-lg-3" ng-repeat="p in filteredProjects = (projects | projectsFilter:selectedProjectType)" style="background: url({{p.img}}) no-repeat center top;background-size:cover;">
            <p>
                {{p.name}}
            </p>
        </div>
    </div>
</div>
