/*
---------------------------------------------------
FONTS DECLARATION
---------------------------------------------------
*/

@font-face {
    font-family: BasicTitle;
    src: url('../fonts/basictitlefont.ttf');
}

@font-face {
    font-family: Bebas;
    src: url('../fonts/bebas.ttf');
}

/*
---------------------------------------------------
BLOBAL STYLES
---------------------------------------------------
*/


html,
body {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

body{
    background-color: transparent;
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

#mainRow {
    height: 100%;
}

#innerRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 100%
}

#innerRow > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#navigationColumn {
    background-color: #1B1717;
    align-items: center;
}

#mainContentColumn {
    overflow-y: scroll;
    font-family: Bebas;
}


/*
---------------------------------------------------
NAVIGATION
---------------------------------------------------
*/

/* Default */

.sidebar-nav .navbar-nav a {
    color: white;
    font-family: BasicTitle;
    outline: none;
}


/* Hover */

.sidebar-nav .navbar-nav > li > a:hover,
.sidebar-nav .navbar-nav > li > a:focus {
    color: crimson;
    background-color: transparent;
}


/* Active */

.sidebar-nav .navbar-nav > .active > a,
.sidebar-nav .navbar-nav > .active > a:hover,
.sidebar-nav .navbar-nav > .active > a:focus {
    color: yellow;
}

.sidebar-nav .navbar-header {
    height: 60%;
}

.sidebar-nav .navbar-header a {
    padding-top: 20%;
    outline: none;
    font-family: Bebas;
    color: brown;
    font-size: 30px;
}

#navList{
    padding-top: 20%;
}

.icon-bar {
    background-color: white;
}


/*
---------------------------------------------------
MAIN CONTENT
---------------------------------------------------
*/


/*
---------------------------------------------------
PROJECTS VIEW
---------------------------------------------------
*/

.image-block {
    border: 1px solid white;
    background-color: rgba(3, 3, 3, 0.0);
    padding: 0px;
    margin: 0px;
    height: 200px;
    text-align: center;
    vertical-align: bottom;
}

.image-block > p {
    height: 100%;
    font-weight: normal;
    font-size: 19px;
    padding-top: 150px;
    background-color: rgba(3, 3, 3, 0.0);
    color: rgba(6, 6, 6, 0.0);
}

.image-block:hover > p {
    background-color: rgba(3, 3, 3, 0.5);
    color: white;
}


/*
---------------------------------------------------
MEDIA QUERIES
---------------------------------------------------
*/


/* Portrait and landscape phone */

@media(max-width: 480px) {

}


/* Landscape phone to portrait tablet */

@media(max-width: 750px) {
    #innerRow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        flex-wrap: wrap;
    }
    #navigationColumn {
        align-items: stretch;
    }
    .sidebar-nav .navbar-header {
        height: auto;
    }
    .sidebar-nav .navbar-header a{
        font-size: 20px;
        padding-top: 20px;
    }
    #navList{
        padding-top: 0;
    }
    #navList a{
      font-size: 12px;
      align-content: center;
    }
    #mainContentColumn {
        overflow-y: auto;
    }
}


/* Up to small desktop */

@media(max-width: 979px) {
    .sidebar-nav .navbar-header a{
        font-size: 24px;
    }
    .sidebar-nav .navbar-nav a {
        font-size: 16px;
    }
}


/*Large desktop */

@media(max-width: 1100px) {
    .sidebar-nav .navbar-header a{
        font-size: 25px;

    }
    .sidebar-nav .navbar-nav a {
        font-size: 18px;

    }
}

@media(min-width: 1100px) {
    .sidebar-nav .navbar-header a{
        font-size: 26px;

    }
    .sidebar-nav .navbar-nav a {
        font-size: 20px;

    }
}

@media(min-width: 1350px) {
    .sidebar-nav .navbar-header a{
        font-size: 30px;

    }
    .sidebar-nav .navbar-nav a {
        font-size: 22px;
    }
}

@media(min-width: 1450px) {
    .sidebar-nav .navbar-header a{
        font-size: 34px;

    }
    .sidebar-nav .navbar-nav a {
        font-size: 24px;
    }
}

@media(min-width: 1550px) {
    .sidebar-nav .navbar-header a{
        font-size: 38px;
    }
    .sidebar-nav .navbar-nav a {
        font-size: 26px;
    }
}

@media(min-width: 1750px) {
    .sidebar-nav .navbar-header a{
        font-size: 42px;
    }
    .sidebar-nav .navbar-nav a {
        font-size: 28px;
    }
}

@media(min-width: 2000px) {
    .sidebar-nav .navbar-header a{
        font-size: 46px;
    }
    .sidebar-nav .navbar-nav a {
        font-size: 30px;
    }
}
