/*
---------------------------------------------------
BLOBAL STYLES
---------------------------------------------------
*/

html,
body {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

#mainRow {
    height: 100%;
}

#innerRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 100%
}

#innerRow > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#navigationColumn {
    background-color: #2A375C;
    align-items: center;
    font-style: italic;
}

#mainContentColumn {
    background-color: #EBEFFA;
    overflow-y: scroll;
}


/*
---------------------------------------------------
NAVIGATION
---------------------------------------------------
*/

/* Default */
.sidebar-nav .navbar-nav a{
    color: white;
    font-family: sans-serif;
    outline: none;
}

/* Hover */
.sidebar-nav .navbar-nav > li > a:hover, .sidebar-nav .navbar-nav > li > a:focus {
    color: crimson;
    background-color: transparent;
}

/* Active */
.sidebar-nav .navbar-nav > .active > a, .sidebar-nav .navbar-nav > .active >
a:hover, .sidebar-nav .navbar-nav > .active > a:focus {
    color: yellow;

}
.sidebar-nav .navbar-header{
    height:100%;
}
.sidebar-nav .navbar-header a{
    outline: none;
}

.icon-bar {
    background-color: black;
}


/*
---------------------------------------------------
MAIN CONTENT
---------------------------------------------------
*/


/*
---------------------------------------------------
PROJECTS VIEW
---------------------------------------------------
*/

.image-block {
    border: 1px solid #2A375C;
    background-color: rgba(3, 3, 3, 0.0);
    padding: 0px;
    margin: 0px;
    height: 200px;
    text-align: center;
    vertical-align: bottom;
}

.image-block > p {
    height: 100%;
    font-weight: normal;
    font-size: 19px;
    padding-top: 150px;
    background-color: rgba(3, 3, 3, 0.0);
    color: rgba(6, 6, 6, 0.0);
}

.image-block:hover > p {
    background-color: rgba(3, 3, 3, 0.5);
    color: white;
}




/*
---------------------------------------------------
MEDIA QUERIES
---------------------------------------------------
*/


/* Portrait and landscape phone */

@media(max-width: 480px) {}


/* Landscape phone to portrait tablet */

@media(max-width: 750px) {
    #innerRow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        flex-wrap: wrap;
    }
    #navigationColumn {
        align-items: stretch;
    }
    .sidebar-nav .navbar-header {
        height:auto;
    }
    #mainContentColumn {
        overflow-y: auto;
    }
}


/* Up to small desktop */

@media(max-width: 979px) {}


/*Large desktop */

@media(max-width: 1100px) {
    #navigationColumn{
        font-size: 22px;
    }
}

@media(min-width: 1250px) {
    #navigationColumn{
        font-size: 26px;
    }
}
